# Jetro and Local DBs
.jetro/
cache.duckdb
*.duckdb
*.duckdb.wal

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env
.env.local

# IDEs
.vscode/
.idea/
.cursor/
